{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <br><br>
    <div class="card border-primary mb-3" style="max-width: 20rem; margin: 0 auto; width: 40%">
    <div class="card-header"> Connexion </div>
        <div class="card-body">
        {{ form_start(form) }}
        {{ form_row(form.email, {
            'label': 'Email: ',
            'type': 'email',
            'attr': {
                class: "form-control"
            }
        }) }}
        {{ form_row(form.password, {
            'label': 'Mot de passe: ',
            'type': "password",
            'attr': {
                class: "form-control"
            }
        }) }}
        <br>
        <button type="submit" class="btn btn-primary">Connexion</button>
        <button type="button" class="btn btn-primary" style="margin-left: 4rem"><a style="color: white; text-decoration: none" href="{{ path('user_register') }}">Nouveau ?</a></button>
        {{ form_end(form) }}

        </div>
    </div>

{% endblock %}