{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <br><br>
    <div class="card border-primary mb-3" style="max-width: 20rem; margin: 0 auto; width: 40%">
    <div class="card-header"> Inscription </div>
        <div class="card-body">
        {{ form_start(form) }}
        {{ form_row(form.name, {
            'label': 'Prénom: ',
            'attr': {
                class: "form-control"
            }
        }) }}
        {{ form_row(form.firstname, {
            'label': 'Nom de famille: ',
            'attr': {
                class: "form-control"
            }
        }) }}
        {{ form_row(form.email, {
            'label': 'Email: ',
            'type': 'email',
            'attr': {
                class: "form-control"
            }
        }) }}
        {{ form_row(form.password, {
            'label': 'Mot de passe: ',
            'type': 'password',
            'attr': {
                class: "form-control"
            }
        }) }}
            {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-primary">Inscription</button>
        <button type="button" class="btn btn-primary" style="margin-left: 1.4rem"><a style="color: white; text-decoration: none" href="{{ path('user_login') }}">Déjà un compte ?</a></button>
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
